h1 {
  font-size: 20px;
  color: #000;
}
.block1 {
  background-color: blueviolet;
  width: 800px;
  height: 300px;
}
.block2 {
  background-color: rgb(45, 190, 1);
  width: 800px;
  height: 300px;
}
.block3 {
  background-color: rgb(240, 117, 216);
  width: 800px;
  height: 300px;
}
.block4 {
  border: 25px rgb(252, 244, 1);
  background-color: rgb(202, 226, 43);
  width: 800px;
  height: 300px;
  image-rendering: auto;
}
.block5 {
  border-radius: 5px 10px;
  border: color black;
  width: 800px;
  height: 50px;
}
img {
  width: 400px;
  height: 200px;
  padding-left: 10px;
}
.h {
  width: 200px;
  height: 200px;
}
.fotos {
  width: 200px;
  height: 200px;
}
.textblack {
  color: rgb(252, 252, 252);
}
.text {
  padding: 10px;
}
.title {
  text: auto;
  margin: 20px;
  padding-left: 200px;
}
